
Autos_SCC/obj/Debug/Autos_SCC.csproj.CoreCompileInputs.cache
Autos_SCC/obj/Debug/Autos_SCC.csproj.CoreCompileInputs.cache
Autos_SCC/obj/Debug/Autos_SCC.csproj.FileListAbsolute.txt
Autos_SCC/obj/Debug/Autos_SCC.csproj.CoreCompileInputs.cache
/.vs/Autos_SCC/v15/Server/sqlite3
