
Autos_SCC/obj/Debug/Autos_SCC.csproj.CoreCompileInputs.cache
Autos_SCC/obj/Debug/Autos_SCC.csproj.CoreCompileInputs.cache
Autos_SCC/obj/Debug/Autos_SCC.csproj.FileListAbsolute.txt
Autos_SCC/obj/Debug/Autos_SCC.csproj.CoreCompileInputs.cache
/.vs/Autos_SCC/v15/Server/sqlite3
Autos_SCC/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Autos_SCC/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Autos_SCC/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Autos_SCC/obj/Release/_WPPLastBuildInfo.txt
Autos_SCC/obj/Debug/TempPE/RPT.rptCotizacion.cs.dll
Autos_SCC/obj/Debug/TempPE/RPT.dsCotizacion.Designer.cs.dll
Autos_SCC/obj/Debug/TempPE/Reports.InfContrato.cs.dll
Autos_SCC/obj/Debug/TempPE/Reports.dtContrato.Designer.cs.dll
Autos_SCC/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Autos_SCC/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Autos_SCC/obj/Debug/Autos_SCC.csproj.CoreCompileInputs.cache
Autos_SCC/obj
Autos_SCC/bin
Autos_SCC/Web.config
